{% extends 'base.html' %}

{% block title %}Melon Tasting Appointments{% endblock %}

{% block body %}
  <h1 id="title">Book an Appointment</h1>

<div class="below-nav">
    <form action="/appointments" method="POST">
        Year: <input type="text" name="year">
        </p>

        <p>
        Month: <input type="text" name="month">
        </p>

        <p>
        Day: <input type="text" name="day">
        </p>

        <p>
        Time: <input type="text" name="time">
        </p>

        <p>
        <input type="submit">
        </p>
    </form>
</div>
 
{% endblock %}